<ol type="1">
  <li>Open PowerShell (NOT AS ADMIN), and execute:</li>
  <li>bash</li>
  <li>mkdir /mnt/c/git/</li>
  <li>cd /mnt/c/git</li>
  <li>git config --global user.email "adrian.krygowski@wowinc.com"</li>
  <li>git config --global user.name "Adrian Krygowski"</li>
  <li>git config --global http.sslverify false</li>
  <li>git clone https://pl-acegit01.as12083.net/arc-lab/asset-data.git</li>
  <li>cd asset-data</li>
  <li>git branch -av</li>
  <li>git branch akrygows</li>
  <li>git checkout akrygows</li>
  <li>touch online</li>
  <li>git add .</li>
  <li>git commit -m "why did you make changes</li>
  <li>git push --set-upstream origin akrygows</li>
</ol>

