<ol type="1">
  <li>Open PowerShell as Administrator, and execute:</li>
  <li>Enable-WindowsOptionalFeature -Online -FeatureName Microsoft-Windows-Subsystem-Linux</li>
  <li>(New-Object Net.WebClient).DownloadFile("https://aka.ms/wslubuntu2004", "Ubuntu2004.appx")</li>
  <li>Start-Process -FilePath "Ubuntu2004.appx"</li>
  <li>Launch</li>
  <li>On error page, press any key to continue...</li>
  <li>create UNIX username:  same as brach:akrygows</li>
  <li>password can be anything</li>
  <li>when finished:  exit</li>
  <li>back to Powershell window:  bash</li>
  <li>if all steps complete, then you've fully installed BASH on your local machine for git.</li>
  </ol>

