<ol type="1">
  <li>Open PowerShell (NOT AS ADMIN), and execute:</li>
  <li>bash</li>
  <li>cd /mnt/c/git</li>
  <li>git clone https://pl-acegit01.as12083.net/arc-lab/asset-data.git</li>
  <li>cd asset-data</li>
  <li>git branch akrygows</li>
  <li>git checkout akrygows</li>
<ol>
  <li><a href='http://10.88.48.21:5000/qrservice'>http://10.88.48.21:5000/qrservice</a></li>
  <li>cp template.dcim.yml     UUID.dcim.yml</li>
  <li>Open Notepad++ and edit UUID.dcim.yml</li>
  <li>dont forget to save! AS SAME FILENAME</li>
</ol>
<li>ls -l</li>
<li>git add .</li>
<li>git commit -m 'why did you make changes'</li>
<li>git push --set-upstream origin akrygows</li>
<li>EMAIL / SLACK MESSAGE / XRAY HAS BEEN CREATED - PLEASE WAIT</li>
</ol>
~                                                                                                              ~            

