ADDING DEVICES, CABLINGS, EDITING:
<ol>
<li>Open Powershell (NOT AS ADMIN)</li>
<li>bash</li>
<li>cd /mnt/c/git/asset-data</li>
<li>git checkout akrygows</li>
<li>git branch --set-upstream-to=origin/akrygows akrygows</li>
<li>git pull</li>
<ol>
  <li><a href='http://10.88.48.21:5000/qrservice'>http://10.88.48.21:5000/qrservice</a></li>
  <li>cp 2136ea22-6d28-49d4-b66d-80d9a5763977.dcim.yml     UUID.dcim.yml</li>
  <li>Open Notepad++ and edit UUID.dcim.yml</li>
  <li>dont forget to save! AS SAME FILENAME</li>
</ol>
<li>ls -l</li>
<li>git add .</li>
<li>git commit -m 'why did you make changes'</li>
<li>git push --set-upstream origin akrygows</li>
<li>https://pl-acegit01.as12083.net/arc-lab/asset-data/tree/rkrishna</li>
<li>go to:   http://10.88.48.21:5000/validate?branch=akrygows</li>
</ol>
